@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Nabla&family=Poppins:wght@200;300;400;500;600&family=Sail&display=swap');

:root{
  --bg-black-900:#f2f2fc;
  --bg-black-100:#fdf9ff;
  --bg-black-50:#e8dfec;
  --text-black-900:#302e4d;
  --text-black-700:#504e70;

}
body.dark{
  --bg-black-900:#151515;
  --bg-black-100:#222222;
  --bg-black-50:#393939;
  --text-black-900:#ffffff;
  --text-black-700:#e9e9e9;
}
body{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;

}
*{
  margin:0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,::after{
  box-sizing: border-box;

}
.main-container{
  background-color: #fff;
}
ul{
  list-style: none;
}
.home {
  align-items: center;
}
.section{
  background:  var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 40px 30px 0;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
 .active{
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}
 .back-section{
  z-index: 1;
}
@keyframes slideSection{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
}
.hidden{
  display: none ;
}
.main-content{
  padding-left: 270px;

}
.padd-15{
  padding-left: 15px;
  padding-right: 15px;
}
.container{
  max-width: 1100px;
  width: 100%;

  margin: auto;
}
.section .container{
  /* padding-top:60px; */
  padding-bottom: 70px;
}
.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2{
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before{
  content: '';
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after{
  content: '';
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.btn{
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius:40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}
.btn:hover{
  transform: scale(1.05);
}
.shadow-dark{
  box-shadow: 0 0 20px rgba(48,46,77,0.15);

}
/*aside*/
.aside{
  width: 270px;
  position: fixed;
  padding: 30px;
  left: 0;
  top: 0;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background:var(--bg-black-100);
  /* backdrop-filter: blur(20px); */
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  transition: all 0.3s ease;
}
.aside .logo{
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;

}
.aside .logo a{
  color: var(--text-black-900);
  font-weight: 700;

  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
  font-family: 'Sail';
}
.aside .logo a span{
  font-family: 'Great Vibes';
  font-size: 35px;


}
.aside .logo a::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color) ;
  bottom: 0;
  left: 0;

}
.aside .logo a::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;

  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color) ;
  top: 0;
  right: 0;

}
.aside .nav-toggler{
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top:20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.aside .nav-toggler span{
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler.open span{
  background-color: transparent;
}
.aside .nav-toggler span::before{
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggler.open span::before{
  transform: rotate(45deg);
  top: 0;
}
.aside .nav-toggler span::after{
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}
.aside .nav-toggler.open span::after{
  transform: rotate(-45deg);
  top: 0;
}
.aside .nav li{
  margin-bottom: 20px;
  display: block;
}
.aside .nav li a{
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color:var(--text-black-900);
  padding: 5px 15px;
}
.aside .nav li a.active{
  color:var(--skin-color) ;

}
.aside .nav li a i{
  margin-right: 15px;
}
/* ...home... */
.home{
  min-height:100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--text-black-900);
}
.home .container{
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-info{
  flex:0 0 60%;
  max-width: 60%;
}
h3.hello{
  font-size: 28px;
  margin: 15px 0;
}
h3.hello span{
  font-family: 'sail';
  font-size: 30px;
  font-weight: 700;
  color:var(--skin-color);

}
h3.my-professional{
  font-size: 30px;
  margin: 15px 0;
}
.typing{
  color:var(--skin-color);
}
.home-info p{
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}
.home .home-img{
  flex: 0 0 40%;
  max-width: 100%;
  text-align:center;
  position: relative;
  animation: animateUser 4s linear infinite;
}
/* @keyframes animateUser {
  50%{
    right:30px;
    top:-90px;

  }
} */
.home-img::before{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left:-20px;
  top: -40px;

}
.home-img::after{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right:20px;
  bottom: -40px;
 
}
.home .home-img img{
  height: 380px;
  margin: auto;
  border-radius: 30px;
}
.home .hire-accounts{
  display: flex;
  
}
.home .hire-accounts .accounts-logo {
  display: flex;
  gap: 20px;
  padding-left: 80px;
}
.home .hire-accounts .accounts-logo .accounts-img{
  height: 40px;
}

/* ...about... */
.about .about-content{
  flex:0 0 100%;
  max-width: 100%;

}
.about .about-content .about-text{
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color:var(--text-black-900);

}
.about .about-content .about-text h3 span{
  color:var(--skin-color);
}
.about .about-content .about-text p{
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}
.about .about-content .personal-info{
  flex:0 0 60%;
  max-width: 60%;

  margin-top: 40px;
}
.about .about-content .personal-info .info-item{
  flex: 0 0 50%;
  max-width: 50%;

}
.about .about-content .personal-info .info-item p{
  font-weight: 600;
  padding: 10px;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span{
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}
.about .about-content .personal-info .buttons{
  margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{ 
  margin-top: 10px;
}
.about .about-content .skills{
  flex:0 0 40%;
  max-width: 40%;

  margin-top: 40px;
}
.about .about-content .skills .skill-item{
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .skills .skill-item h5{
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress{
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .about-content .skills .skill-item{
  margin-bottom: 25px;
}
.about .about-content .skills .skill-item .progress .progress-in{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}
 .about .about-content .skills .skill-item .skill-percent{
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience{
  flex:0 0 50%;
  max-width: 50%;
  margin-top: 30px;

}
.about .about-content h3.title{
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .timeline-box{
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline{
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border-radius: 10px;
  border:1px solid var(--bg-black-50);
  width: 100%;
  position:relative;
}
.about .about-content .timeline .timeline-item{
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child{
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before{
  content: '';
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color:  var(--skin-color);
}
.about .about-content .timeline .circle-dot{
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);

}
.about .about-content .timeline .timeline-date{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa{
  margin-right: 5px;
}
.about .about-content .timeline .timeline-title{
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text{
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}
/* service */
.service .container{
  padding-bottom: 40px;
}
.service .service-item{
  margin-bottom: 30px;
  flex:0 0 33.33%;
  max-width: 33.33%;
}
.service .service-item .service-item-inner{
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon{
  height:60px;
  width:60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa{
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon{
  background: var(--skin-color);
}
.service .service-item .service-item-inner:hover .icon .fa{
  font-size: 25px;
  color: #ffffff;
}
.service .service-item .service-item-inner h4{
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}
.service .service-item .service-item-inner p{
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}
/* portfolio */
.portfolio .container{
  padding-bottom:0 ;
}
.portfolio .portfolio-heading{
  flex:0 0 100%;
  max-width: 100%;
}
.portfolio-heading h2{
  color: var(--text-black-700);
  font-weight: 600;
  margin-bottom: 40px;
  padding-bottom: 60px;
}
.portfolio-item{
  width: 50%;
}
.portfolio .portfolio-item{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}
.portfolio .portfolio-item-inner{
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

/* portfolio projects */
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner{
    width: 100%;
    height:60vh;
    text-align: center;
    overflow-y:visible;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 80s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px)  rotateY(0deg);
    }to{
        transform: perspective(1000px)  rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(500px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* .banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1000px, 100vw);
    height: max-content;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 16em;
    line-height: 1em;
    color: #25283B;
    position: relative;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}
.banner .content .author{
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}
.banner .content h2{
    font-size: 3em;
} */
/* .banner .content .model{
    background-image: url(images/model.png);
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
} */
@media screen and (max-width: 1023px) {
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
    
    .banner .content h1{
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }
    .banner .content .author{
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}
@media screen and (max-width: 767px) {
    .banner .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
   
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
    .banner .content h1{
        font-size: 5em;
    }
}
.Sketches-btn{
  text-align: center;
  justify-content: center;
  padding: 40px;
  margin-top: 0px;
}

/*Projects*/
.project-row {
  position: relative;
}

.portfolio-project-heading {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #ddd; /* Light grey background */
  margin-top: 10px;
  position: relative;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #1E3A8A; /* Blue color for progress */
  transition: width 0.25s ease-out;
}

.project-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  gap: 100px;
}

.main-title {
  font-size: 3em;
  color: var(--text-black-700);
  margin-bottom: 150px;
}

.main-project-title {
  text-align: center;
  font-size: 3em;
  color: var(--text-black-700);
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  width: 800px;
  height: 360px;
  overflow: hidden;
  border-radius: 10px;
}

.content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content .text-box {
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-box p {
  text-align: left;
  color: var(--text-black-700);
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--text-black-900);
}

.media-icons {
  display: flex;
}

.media-icons a {
  color: var(--text-black-700);
  font-size: 2em;
  margin: 10px;
}

.content .text-box .key-skills {
  margin-top: 10px;
}

.content .text-box .key-skills .skill-btn {
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 6px;
  background-color: #1E3A8A;
  color: white;
  font-size: 0.8em;
}

/* Contact */
.contact-title{
  color:var(--skin-color);
  text-align: center;
font-size: 25px;
margin-bottom: 20px;
}
.contact-sub-title{
  color:var(--text-black-900);
  text-align: center;
font-size: 15px;
margin-bottom: 60px;
}
.contact .contact-info-item{
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}
.contact .contact-info-item .icon{
  display: inline-block;
  height: 10px;
}
.contact .contact-info-item .icon .fa{
  font-size: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item h4{
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}
.contact .contact-info-item p{
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}
.contact .contact-form{
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .col-6{
  flex: 0 0 50%;
  max-width: 50%;
}
.contact .contact-form .col-12{
  flex:0 0 100%;
  max-width: 100%;

}
.contact .contact-form .form-item{
  margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(-text-black-700);
  transition: all 0.3s ease
}
.contact-info-item .icon {
  height:60px;
  width:60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
    transition: all 0.3s ease;
  }
  
@media (max-width:1199px){
  .section .container{
    padding-top: 70px;
  }
  
  .aside{
    left: -270px ;
  }
  .aside.open{
    left: 0;
  }
  .aside .nav-toggler{
    display: flex;
    left: 30px;
  }
  .aside .nav-toggler.open{
    left: 300px;
  }
  .section{
    left: 0;
  }
  .section.open{
    left: 270px;
  }
  .about .about-content .personal-info .info-item p span{
    display: block;
    margin-left: 0;
  }
}
@media (max-width:991px){
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .banner{
    height: 15vh;
  }
  .larger-icon {
    font-size: 50px; /* Adjust the size as needed */
}
.day-icon {
  font-size: 50px; /* Adjust the size as needed */
}
.aside .nav-toggler{
  height: 80px;
  width: 85px;
  
}
.aside .nav-toggler span{
  height: 6px;
  width: 40px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler.open span{
  background-color: transparent;
}
.aside .nav-toggler span::before{
  content: '';
  height: 6px;
  width: 40px;
  background: var(--skin-color);
  position: absolute;
  top: -13px;
  left: 0;
}
.aside .nav-toggler.open span::before{
  transform: rotate(45deg);
  top: 0;
}
.aside .nav-toggler span::after{
  content: '';
  height: 6px;
  width: 40px;
  background: var(--skin-color);
  position: absolute;
  top: 13px;
  left: 0;
}
.aside .nav-toggler.open span::after{
  transform: rotate(-45deg);
  top: 0;
}
  .home .home-info{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img{
    display: none;
  }
  .content .image{
    margin: 0 5px 0 5px;
  }
}
@media (max-width:767px){
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .skills, 
  .about .about-content .personal-info{
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* new */
/* .new-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
}

.imageContainer img {
  width: 500px;
  height: auto;
}

.textContainer {
  margin-left: 20px;
}

button {
  padding: 10px 20px;
  background-color: #ffa500;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff8c00;
} */